
.menu{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.flex{
    display: flex;
    gap: 24px;
}

.body{
    composes: flex;
}

.tags{
    display: flex;
    gap: 5px;
}

.itemGrid{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
}

.items{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (max-width: 1024px){
    .standardMenu{
        display: none;
    }

    .itemGrid{
        grid-template-columns: repeat(2, minmax(0, 1fr ));
    }
}


@media screen and (max-width: 480px){
    .itemsHeader{
        font-size: 14px;
    }


}