
.body{
    display: flex;
    gap: 24px;
}

.imageContainer{
    background-color: rgb(245, 245, 245, 1);
    border-radius: 6px;
    height: 144px;
    width: 144px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inStock{
    display:flex;
    gap: 4px;
}

.textContent{
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-area: text;
}

.rightContainer{
    display: flex;
    align-items: center;
}

.innerContainer{
    display: flex;
    align-items: center;
    gap: 48px;
}

.quantitySelection{
    display: flex;
    align-items: center;
    gap: 12px;
    grid-area: quantity;
}

.defaultBtnStyle{
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgb(224, 227, 230);
    cursor: pointer;
    color: slategrey;
    transition: background-color 0.2s ease-out;
}

.defaultBtnStyle:hover{
   background-color: rgb(224, 227, 230); 
}

.quantityBtn{
    composes: defaultBtnStyle;
    width: 24px;
    height: 24px;
}


.deleteBtn{
    width: 24px;
    height: 24px;
    composes: defaultBtnStyle;
    grid-area: delete;
}

.quantity{
    color: rgb(141, 141, 141);
}

.price{
    grid-area: price; 
    font-weight: bold;
}

@media screen and (max-width: 1024px){
    .innerContainer{
        display: grid; 
        grid-template-areas: 
        "text delete"
        "quantity price";
        gap: 24px;
        align-items: start;
    }


}