
.columnFlex{
    display: flex;
    flex-direction: column;
}

.body{
    composes: columnFlex;
    gap: 36px;
}

.imageContainer{
    background-color: rgb(245, 245, 245, 1);
    border-radius: 6px;
    height: 458px;
    width: 458px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.imageContainer:hover .heart{
    opacity: 1;
}

.main{
    display:flex;
    gap: 48px;
}

.leftContainer{
    composes: columnFlex;
    gap: 12px;
}

.bottom{
    composes: columnFlex;
    gap: 8px;
}

.filterContainer{
    display: flex;
    gap: 8px;
}

.backButton:hover{
    background-color: rgb(224, 227, 230);
    border-radius: 6px;
    cursor: pointer;
}



.rightContainer{
    composes: columnFlex;
    gap: 24px;
}

.upper{
    composes: columnFlex;
    gap: 6px;
}

.inStock{
    display:flex;
    gap: 6px;
}


.weight{
    display: flex;
    align-items: center;
} 


.price{
    font-size: 18px;
    font-weight: bold;
}

.inStock p{
    color: royalblue;
}

.quantitySelection{
    display: flex;
    align-items: center;
    gap: 24px;
}

.quantityBtn{
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid rgb(224, 227, 230);
    cursor: pointer;
    color: slategrey;
    transition: background-color 0.2s ease-out;
}

.quantityBtn:hover{
    background-color: rgb(224, 227, 230);
}

.callToActions{
    composes: columnFlex;
    align-items: flex-start;
    gap: 12px;
    width: 360px; 
}

.cta{
    width: 100%;
    height: 48px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.colorSelector{
    composes: cta;
    background-color: white;
    padding: 4px 8px;
}

.colorSelectorContainer{
    display:flex; 
    flex-direction: column;
    gap: 4px;
}

.colorSelector:hover{
    border: 2px solid royalblue;
}


.buyNow{
    composes: cta;
    border: none;
    background-color: royalblue;
    color: white;
    transition: background-color 0.2s ease-out;
}

.buyNow:hover{
    background-color: rgb(20, 66, 204);
}

.addToBag{
    composes: cta;
    border: 1px solid rgb(224, 227, 230);
    background-color: transparent;
    transition: background-color 0.2s ease-out;
}

.addToBag:hover{
    background-color: rgb(224, 227, 230);
}

.filter{
    padding: 2px 8px;
    border-radius: 16px;
    font-size: 12px;
    border: 1px solid rgb(224, 227, 230);
}

.heart{
    position: absolute;
    opacity:0;
    top: 24px;
    right:24px;
    transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.heartClicked{
    composes: heart; 
    fill: red;
    opacity: 1;
}

.heartClicked path{
    d: path(
        "m480-120-58-52q-101-91-167-157T150-447.5Q111-500 95.5-544T80-634q0-94 63-157t157-63q52 0 99 22t81 62q34-40 81-62t99-22q94 0 157 63t63 157q0 46-15.5 90T810-447.5Q771-395 705-329T538-172l-58 52Z"
    )
}

.heart:hover{
    transform: scale(1.2);
}

@media screen and (max-width: 930px){
    .main{
        flex-direction: column
    }

    .imageContainer{
        width: 100%;
        height: 80vw; 
    }

    .callToActions{
        width: 100%;
    }
}

@media screen and (max-width: 930px) and (min-width: 620px){
    .objImg{
        width: 30vw; 
    }
}