
.accordion{
    width: 208px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.accordion:hover{
  cursor: pointer;
}

.upper{
    display: flex;
    justify-content: space-between;
}

.flip-dropdown-up{
    transform: rotate(180deg);
}

.flip-dropdown-down{
    transform: rotate(0deg);
}

.non-scrolling-child-show{
    animation: slideDown 0.4s forwards;
}

.scrolling-child-show{
  composes: non-scrolling-child-show;
  height: 264px; 
  overflow: auto; 
}

.children-hide{
    display: none;
}

@keyframes slideDown{
  from {
    transform: translateY(-10%);
  }
  to{
    transform: translateY(0%);
  }
}

@media screen and (max-width: 1024px){
  .accordion{
    width: 100%;
  }

  .title{
    font-size: 18px;
  }
}